<div class="FAQ">
    <div class="faq fadeInUp" style="animation-delay: 0.5s;">
        <h2 class="question">Are you official?</h2>
        <h2 class="answer">No</h2>
    </div>
    <div class="faq fadeInUp" style="animation-delay: 0.6s;">
        <h2 class="question">What are your sources? How is the data gathered for this project?</h2>
        <h2 class="answer">
            <div class="list-group">
                <a href="https://api.covid19india.org/data.json" class="list-group-item">Daily Count Link</a>
                <a href="https://api.covid19india.org/state_district_wise.json" class="list-group-item">State Wise Data</a>
                <a href="https://api.covid19india.org/states_daily.json" class="list-group-item">District Wise Data</a>
                <a href="https://api.covid19india.org/website_data.json" class="list-group-item ">Other Raw Data</a>
                <a href="https://telegra.ph/Covid-19-Sources-03-19 " class="list-group-item ">Complete Source List </a>
            </div>


        </h2>
    </div>

    <div class="faq fadeInUp " style="animation-delay: 0.8s; ">
        <h2 class="question ">Who are you?</h2>
        <h2 class="answer ">I am FronEnd Developer who is using this lockdown period to learn something new and bring awareness through this website to show this statistics to people and making them aware to stay home </h2>
    </div>
    <div class="faq fadeInUp " style="animation-delay: 0.9s; ">
        <h2 class="question ">What Technology you have used</h2>
        <h2 class="answer ">Angular 9,Typescript and some good knowledge of boottStrpa and CSS

        </h2>
    </div>


    <div class="faq fadeInUp " style="animation-delay: 0.9s; ">
        <h2 class="question ">Where I can see your other work</h2>
        <h2 class="answer ">Here is complete list

            <div class="list-group">

                <a href="https://github.com/mehulk05" class="list-group-item">Github</a>
                <a href="https://medium.com/@mehulkothari05" class="list-group-item">Medium (platform where I write Blogs</a>
                <a href="https://www.linkedin.com/in/mehul-kothari-765868126/" class="list-group-item ">Linked In</a>
                <a href="https://personal-portfolio0320.000webhostapp.com/" class="list-group-item ">My portfolio Link </a>
            </div>

        </h2>
    </div>
</div>