.Links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .45s;
    animation-duration: .45s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.link {
    width: 60rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.link h3 {
    margin-bottom: 0;
    color: #343a40;
    font-weight: 900;
}

h3 {
    font-size: 14px!important;
}

h2,
h3 {
    font-family: "archia";
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.link a {
    font-family: "archia";
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: 900;
    text-decoration: none;
    color: #007bff;
    background: rgba(0, 123, 255, .0627451);
    transition: background .2s ease-in-out;
}

@media (max-width: 769px) {
    .faq,
    .link {
        width: calc(100% - 2rem);
    }
}