footer {
    margin: 0 auto;
    margin-bottom: 5rem;
    justify-content: center;
    margin-top: 5rem;
}

footer h5 {
    margin: 1rem 0 .5rem;
    color: #6c757d;
    font-weight: 900;
}

footer>* {
    align-self: center;
    text-align: center;
}

.link {
    width: 30rem;
    margin-top: 15px;
    margin-bottom: 1rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.link a {
    font-family: "archia";
    text-transform: uppercase;
    word-wrap: break-word;
    font-weight: 900;
    text-decoration: none;
    color: #007bff;
    background: rgba(0, 123, 255, .0627451);
    transition: background .2s ease-in-out;
}

.github {
    width: 30%;
    background: #000!important;
    color: #fff!important;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 0;
    font-family: "archia";
    text-transform: uppercase;
    background: rgba(0, 123, 255, .0627451);
    color: rgba(0, 123, 255, .6);
    cursor: pointer;
    font-weight: 900;
    border-radius: 5px;
    transition: background .2s ease-in-out;
    margin-bottom: .5rem;
    margin-top: 15px;
    outline: none;
    font-size: 13px;
    text-decoration: none;
}

.button svg {
    margin-right: .5rem;
    width: 20px;
    stroke-width: 2px;
}

.button>* {
    align-self: center;
}

h4,
h5 {
    font-family: "archia";
    font-weight: 900;
    text-transform: uppercase;
}

@media (max-width: 551px) {
    .github,
    .button {
        width: 80%;
    }
    footer.fadeInUp.col-md-12 {
        padding: 0
    }
}

.Navbar {
    display: flex;
    flex-direction: row;
    height: 6.5rem;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-animation-name: uf3b0818c;
    animation-name: uf3b0818c;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.heading {
    background: rgba(108, 117, 125, .0627451);
}

.Navbar img {
    width: 4rem;
    height: 4rem;
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .45s;
    animation-duration: .45s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.navbar-left {
    margin-left: 2rem;
    flex: 1 1;
    align-self: center;
}

.Navbar .navbar-left a {
    display: inline-block;
    font-size: 13px;
    font-family: "Archia";
    text-decoration: none;
    margin-right: 2rem;
    color: rgba(108, 117, 125, .6);
}

.Navbar .navbar-left a span {
    display: inline-block;
    transition: color .2s ease-in-out;
}

.Navbar .focused,
.Navbar .active,
.Navbar .navbar-left a span:hover {
    color: #6c757d !important;
}

.Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 20px;
    font-family: "Archia";
    font-size: 13px;
    font-weight: 600;
    color: rgba(32, 26, 162, .866667);
    background: rgba(32, 26, 162, .12549);
}

.Banner .snippet {
    align-self: center;
    width: calc(100% - 10rem);
    word-wrap: break-word;
    padding: 2.5rem;
    text-align: center;
    cursor: pointer;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

a.button.btn-light.medium {
    background: rgba(87, 100, 112, 0.083);
    width: 30%;
    color: #000!important;
    justify-content: center;
    font-weight: 900;
    padding: 13px;
}

a.button.btn-light.medium img {
    margin-right: 10px;
}

.github:hover {
    background: #343a40!important;
}

a.button.btn-light.medium:hover {
    background: rgba(108, 117, 125, 0.5)!important;
}

@media (max-width:551px) {
    .Banner .snippet {
        width: 100%;
        padding: 1.5rem;
    }
    .navbar-right {
        display: none;
    }
    a.button.btn-light.medium {
        padding-left: 5px;
    }
}

@media (max-width:768px) {
    a.button.btn-light.medium,
    .github {
        width: 85%;
    }
}

.navbar-right .nav-link {
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

.navbar-right ul {
    margin-top: 20px;
}

.navbar-right .nav-item.inline-block {
    list-style-type: none;
    float: left;
}

.footer-icons {
    width: 100%;
    text-align: center;
}

.footer-icons ul {
    margin: 2px auto;
    line-height: 1.4;
    padding-left: 0;
    margin-top: 30px;
    float: none;
}

.footer-icons li.nav-item.inline-block {
    display: inline;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    float: none;
}