    .Home {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    .Home .home-left,
    .Home .home-right {
        display: flex;
        flex-direction: column;
        width: 30rem;
    }
    
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: .45s;
        animation-duration: .45s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .header {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 30rem;
        align-self: center;
        justify-content: space-between;
        padding-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .header .header-mid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header .header-mid>*,
    .last-update {
        align-self: center;
    }
    
    .header h1 {
        color: #343a40;
    }
    
    .header h1,
    .header h6 {
        margin: 0;
    }
    
    h1 {
        font-family: "archia";
        font-size: 24px!important;
        font-weight: 900;
        text-transform: uppercase;
    }
    
    h6 {
        font-family: "archia";
        font-size: 11px!important;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .header .header-mid .titles h6 {
        margin-top: .25rem;
        color: #6c757d;
    }
    
    .header .header-mid>*,
    .last-update {
        align-self: center;
    }
    
    .last-update {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-bottom: auto;
        margin-top: .25rem;
    }
    
    .last-update h3,
    .last-update h6 {
        margin: 0;
    }
    
    .last-update h6 {
        color: rgba(40, 167, 69, .6);
        font-weight: 900;
    }
    
    .last-update h3 {
        color: #28a745;
        font-weight: 600;
    }
    
    h3 {
        font-size: 14px!important;
    }
    
    h2,
    h3 {
        font-family: "archia";
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .Level {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 30rem;
    }
    
    .Level .level-item:first-child {
        margin-left: .5rem;
    }
    
    .Level .level-item {
        display: flex;
        flex-direction: column;
    }
    
    .Level .is-cherry h4,
    .Level .is-cherry h5 {
        color: rgba(255, 7, 58, .6);
    }
    
    .Level .level-item>* {
        align-self: center;
    }
    
    .Level h1,
    .Level h5 {
        margin-bottom: 0;
    }
    
    h5 {
        font-size: 12px!important;
    }
    
    h4,
    h5 {
        font-family: "archia";
        font-weight: 900;
        text-transform: uppercase;
    }
    
    h4,
    h5 {
        font-family: "archia";
        font-weight: 900;
        text-transform: uppercase;
    }
    
    h4 {
        font-size: 13px!important;
    }
    
    .Level .is-blue h4,
    .Level .is-blue h5 {
        color: rgba(0, 123, 255, .6);
    }
    
    .Level .level-item>* {
        align-self: center;
    }
    
    .Level .is-cherry h1 {
        color: #ff073a;
    }
    
    .Level .level-item>* {
        align-self: center;
    }
    
    .Level h1 {
        font-weight: 600;
    }
    
    .Level h1,
    .Level h5 {
        margin-bottom: 0;
    }
    
    .Level .is-blue h1 {
        color: #007bff;
    }
    
    .Level .is-green h4,
    .Level .is-green h5 {
        color: rgba(40, 167, 69, .6);
    }
    
    .Level .is-green h1 {
        color: #28a745;
    }
    
    .Level .is-gray h4,
    .Level .is-gray h5 {
        color: rgba(108, 117, 125, .6);
    }
    
    .Level .is-gray h1 {
        color: #6c757d;
    }
    
    Minigraph {
        width: 30rem;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 -3rem;
    }
    
    .Minigraph,
    .timeseries {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%
    }
    
    .Minigraph .svg-parent,
    .timeseries .svg-parent {
        position: relative;
        display: flex;
        width: 30rem;
        align-self: center;
        border-radius: 5px;
        margin-bottom: 1rem;
        height: 10rem;
    }
    
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: .45s;
        animation-duration: .45s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    svg:not(:root) {
        overflow: hidden;
    }
    
     :not(svg) {
        transform-origin: 0px 0px;
    }
    
    .Minigraph {
        width: 30rem;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 -3rem;
    }
    
    .affected-count {
        text-align: right;
        margin: 1rem 0 0;
        color: rgba(108, 117, 125, .6);
    }
    
    table:nth-child(odd) {
        background-color: #fff;
    }
    
    table {
        position: relative;
        width: 30rem;
        align-self: center;
        font-family: "archia";
        text-transform: uppercase;
        margin-bottom: 1rem;
        border-collapse: separate;
    }
    
    table thead {
        background: rgba(108, 117, 125, .0627451);
        color: #343a40;
        text-align: left;
        font-size: .75rem;
    }
    
    table thead th {
        padding: .5rem;
        cursor: pointer;
        border-radius: 5px;
        transition: all .1s ease-in-out;
        z-index: 99;
    }
    
    table thead th.sticky {
        top: 4px;
        background: #f1f1f1;
    }
    
    table thead th .heading-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: row;
        height: .9rem;
        align-items: center;
    }
    
    table thead th .heading-content abbr {
        text-align: right;
    }
    
    abbr {
        text-decoration: none;
    }
    
    .arrow-down {
        border-top: 5px solid rgba(108, 117, 125, .6);
    }
    
    .arrow-down,
    .arrow-up {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-left: .25rem;
    }
    
    .sticky {
        position: -webkit-sticky;
        position: sticky;
    }
    
    table tbody {
        color: #6c757d;
        max-width: 10rem;
    }
    
    table .dropdown {
        position: absolute;
        left: -.75rem;
        background: rgba(108, 117, 125, .0627451);
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin-top: .5rem;
        cursor: pointer;
        transition: background .3s ease-in-out;
    }
    
    .rotateDownRight {
        -webkit-animation-name: rotateDownRight;
        animation-name: rotateDownRight;
        -webkit-animation-duration: .25s;
        animation-duration: .25s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    table .dropdown svg {
        position: absolute;
        top: -.35rem;
        left: 1px;
        width: 11px;
        stroke-width: 3;
    }
    
    table tbody tr {
        transition: background .1s ease-in-out;
        cursor: pointer;
    }
    
    table tbody td:first-child {
        text-align: left;
        max-width: 7.5rem;
        word-wrap: break-word;
    }
    
    table tbody td {
        padding: .25rem;
        font-size: .9rem;
        border-radius: 5px;
        text-align: right;
    }
    
    table tbody td .deltas {
        margin-right: .25rem;
        font-size: 11px!important;
    }
    
    table tbody td .deltas svg {
        width: 9px;
        height: 9px;
        stroke-width: 3;
        vertical-align: -.25px;
    }
    /* td {
    display: table-cell;
    vertical-align: inherit;
} */
    
    .arrow-down,
    .arrow-up {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-left: .25rem;
    }
    
    .arrow-up {
        border-bottom: 5px solid rgba(108, 117, 125, .6);
    }