/* .down-arrow {
    border-top: 5px solid rgba(108, 117, 125, .6);
}

.up-arrow,
.down-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: .25rem;
}

.up-arrow {
    border-bottom: 5px solid rgba(108, 117, 125, .6);
}
 */

.difference-time {
    margin-top: 9px;
    margin-bottom: 0px;
}

.Home {
    font-family: "archia";
    margin-top: 10px;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .45s;
    animation-duration: .45s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.header {
    position: relative;
    align-self: center;
    justify-content: space-between;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.header .header-mid {
    justify-content: space-between;
}

.header h1 {
    color: #343a40;
}

.header h1,
.header h6 {
    margin: 0;
}

h1 {
    font-family: "archia";
    font-size: 24px!important;
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.header .header-mid .titles h6 {
    margin-top: 10px;
    color: #6c757d;
}

.header h1,
.header h6 {
    margin: 0;
}

.last-update {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: auto;
    margin-top: .25rem;
}

.last-update h3,
.last-update h6 {
    margin: 0;
}

.last-update h6 {
    color: rgba(40, 167, 69, .6);
    font-weight: 900;
}

.header h1,
.header h6 {
    margin: 0;
}

h6 {
    font-family: "archia";
    font-size: 11px!important;
    font-weight: 600;
    text-transform: uppercase;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Level .is-cherry h4,
.Level .is-cherry h5 {
    color: rgba(255, 7, 58, .6);
}

.Level .level-item>* {
    align-self: center;
}

.Level h1,
.Level h5 {
    margin-bottom: 0;
}

h5 {
    font-size: 12px!important;
}

h4,
h5 {
    font-family: "archia";
    font-weight: 900;
    text-transform: uppercase;
}

h4 {
    font-size: 15px!important;
}

.Level .level-item:first-child {}

.Level .level-item {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 0;
    font-family: "archia";
    font-size: 24px!important;
    font-weight: 900;
    text-transform: uppercase;
}

.Level .is-cherry h1 {
    color: #ff073a;
}

.Level .level-item>* {
    align-self: center;
}

.Level h1 {
    font-weight: 600;
}

.Level h1,
.Level h5 {
    margin-bottom: 0;
}

.Level .is-blue h4,
.Level .is-blue h5 {
    color: rgba(0, 123, 255, .6);
}

.Level .is-blue h1 {
    color: #007bff;
}

.Level .is-green h4,
.Level .is-green h5 {
    color: rgba(40, 167, 69, .6);
}

.Level .is-green h1 {
    color: #28a745;
}

.Level .is-gray h4,
.Level .is-gray h5 {
    color: rgba(70, 73, 77, 0.6);
}

.Level .is-gray h1 {
    color: #464d53;
}

.Minigraph,
.timeseries {
    margin-top: 25px;
}

h5.affected-count.fadeInUp {
    text-align: right;
    font-size: 14px!important;
    font-weight: 800;
    text-align: right;
    color: rgba(61, 64, 68, 1.6);
    margin: 0 .25rem .25rem 0;
}

table {
    position: relative;
    align-self: center;
    font-family: "archia";
    text-transform: uppercase;
    border-spacing: 3px 2px;
    border-collapse: separate;
}

span.dropdown.rotateDownRight {
    position: absolute;
    left: 0;
    /* top: 58px; */
    margin-top: 8px;
    margin-right: 22px;
}

 :not(svg) {
    transform-origin: 0px 0px;
}

table .dropdown {
    position: absolute;
    left: -.75rem;
    background: rgba(108, 117, 125, .0627451);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-top: 15px;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

table .dropdown svg {
    position: absolute;
    top: -2px;
    left: 1px;
    width: 11px;
    stroke-width: 3;
}

table thead {
    background: rgba(108, 117, 125, .0627451);
    color: #343a40;
    text-align: left;
    font-size: .75rem;
}

table thead th.sticky {
    top: 4px;
    background: #f1f1f1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

table thead th {
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    z-index: 99;
    font-weight: bold;
    font-size: .75rem;
    width: 31%;
    padding: 8px;
}

table thead th .heading-content abbr {
    text-align: right;
    font-weight: bolder;
    font-size: 14px;
    color: black;
    padding: 10px;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    cursor: pointer;
}

table tbody tr:hover {
    background: rgba(61, 62, 63, 0.125) !important;
}

table tbody tr {
    transition: background .1s ease-in-out;
    cursor: pointer;
}

table tbody:nth-child(odd) tr {
    background-color: white;
}

table tbody:nth-child(even) tr {
    /*  background-color: #ddd; */
}

table tbody td:first-child {
    text-align: left;
    word-wrap: break-word;
    margin-left: 10px;
    text-align: left;
}

table tbody td {
    border-top: none;
}

table tbody {
    color: #666c72;
}

table tbody td .deltas {
    margin-right: 10px;
    font-size: 12px!important;
}

table tbody td .deltas svg {
    width: 9px;
    height: 9px;
    stroke-width: 3;
    vertical-align: -.25px;
}

table {
    table-layout: fixed;
}

table td {
    overflow: hidden;
}

table tbody tr.nohover:hover {
    background-color: white !important;
}

th .active-cases {
    color: #007bff !important;
}

th abbr.confirmed {
    color: #ff073a !important;
}

th abbr.recovered {
    color: #28a745 !important;
}

th abbr.death {
    color: #6c757d !important;
}

.up-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    float: right;
    margin-top: 8px;
}

.downarrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    float: right;
    margin-top: 8px;
}

@media (min-width: 552px) and (max-width:768px) {
    table.table.table-striped.table-hover.fadeInUp.col-md-12 {
        font-size: 12px;
    }
}

table thead th .heading-content abbr,
table thead th {
    font-size: 13px;
}

table thead th .heading-content abbr.confirmed,
table thead th .heading-content abbr.recovered {
    text-align: left;
}

table thead th {
    padding-left: 0;
    padding-top: 5px;
}

table tbody tr td {
    text-align: right;
    font-size: 13px;
    padding-left: 3px;
}

table tbody tr td:first-child {
    text-align: left;
}

@media (max-width: 551px) {
    .note {
        margin: 0!important;
        padding-left: 8px;
        margin-bottom: 10px !important;
    }
    h1 {
        font-size: 18px!important;
    }
    .svg-parent svg:not(:root) {
        width: 100%;
    }
    .Home.container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .home-left.col-lg-7.col-md-7.col-sm-7.col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .Minigraph.row {
        margin-left: 0;
        margin-right: 0;
    }
    .header-mid.row,
    .Level.fadeInUp.row {
        margin-left: 0;
        margin-right: 0;
    }
    table.table.table-striped.table-hover.fadeInUp.col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }
    table thead th .heading-content abbr,
    table thead th {
        font-size: 10px;
    }
    table tbody tr td {
        text-align: right;
        font-size: 8px;
        padding-left: 3px;
        padding-right: 3px;
    }
    table {
        border-spacing: 1px 0px;
    }
    span.dropdown.rotateDownRight {
        display: none;
    }
    .table>tbody>tr>td {
        padding: 3px;
    }
    table thead th .heading-content abbr,
    table thead th {
        padding: 2px;
        font-size: 8px;
    }
    th.sticky:last-child {
        max-width: 21%;
        width: 21% !important;
    }
    table thead th:nth-child(3) {
        width: 25%!important;
    }
    table thead th:nth-child(4) {
        width: 27%!important;
    }
    table tbody td .deltas {
        margin-right: 10px;
        font-size: 7px!important;
    }
    .svg-parent.fadeInUp.col-xs-3 {
        padding: 0;
    }
    .svg-parent.fadeInUp.col-xs-3 svg {
        overflow: hidden;
        width: 100%;
    }
    .downarrow {
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid black;
        margin-top: 5px;
        position: absolute;
        top: 2px;
        right: 6px;
    }
    .up-arrow {
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid black;
        margin-top: 5px;
        position: absolute;
        top: 2px;
        right: 6px;
    }
    h5.affected-count.fadeInUp {
        margin-bottom: 10px;
        font-size: 10px !important;
    }
}

.MapExplorer .header {
    color: #6c757d;
    margin-bottom: 2.5rem;
    align-self: flex-start;
}

.home-right {
    padding-left: 25px;
}

.MapExplorer .map-stats .stats:first-child {
    margin-left: 0;
}

.map-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9rem;
    position: relative;
}

.map-stats h5,
.map-stats h6 {
    margin: 0;
}

.map-stats h5 {
    margin-top: 5px !important;
    font-size: 13px!important;
    font-weight: 900;
}

.map-stats .stats {
    background: rgba(255, 7, 58, .12549);
    color: #ff073a;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
    width: 100%;
}

.map-stats .stats.is-blue {
    background: rgba(0, 123, 255, .0627451);
}

.map-stats .stats.is-blue h5,
.map-stats .stats.is-blue h6 {
    color: rgba(0, 123, 255, .6);
}

.map-stats .stats.is-blue h1 {
    color: #007bff;
}

.map-stats .stats.is-green {
    background: rgba(40, 167, 69, .12549);
}

.map-stats .stats.is-green h5,
.map-stats .stats.is-green h6 {
    color: rgba(40, 167, 69, .6);
}

.map-stats .stats.is-green h1 {
    color: #28a745;
}

.map-stats .stats.is-gray h5,
.map-stats .stats.is-gray h6 {
    color: rgba(108, 117, 125, .8);
}

.map-stats .stats.is-gray h1 {
    color: #6c757d;
}

.map-stats .stats:last-child {
    margin-right: 0;
}

.map-stats .stats.is-gray {
    background: rgba(108, 117, 125, .0627451);
}

.map-stats .stats .stats-bottom {
    display: flex;
    flex-direction: row;
}

.map-stats .stats h1 {
    font-weight: 600;
    margin-top: 10px;
}

.map-stats h1,
.map-stats h3,
.map-stats h5,
.map-stats h6 {
    margin: 0;
}

.last-update h3 {
    color: #28a745;
    font-weight: 600;
}

h3 {
    font-size: 15px!important;
}

.last-update h5 {
    color: rgba(40, 167, 69, .7);
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta1 h2 {
    margin-bottom: 10px;
    color: #e23028;
    word-wrap: break-word;
    font-weight: 900;
    font-size: 18px!important;
}

@media (max-width:768px) {
    .hide-xs {
        display: none;
    }
}

.svg-parent svg:not(:root) {
    width: 100%;
}

.stats3 {
    background: rgba(255, 7, 58, .12549);
    color: #ff073a;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
    width: 100%;
    height: 74px;
}

@media (min-width: 552px) and (max-width:768px) {}

@media (min-width:350px) and (max-width:551px) {
    .header-mid.row .titles.col-md-7 {
        width: 70%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header-mid.row .last-update.col-md-5 {
        width: 30%;
        float: right;
        padding-left: 5px;
        padding-right: 5px;
    }
    h4.difference-time {
        font-size: 11px !important;
    }
    h5.refreshed-time {
        font-size: 10px!important;
    }
    .titles.col-md-7 h6 {
        margin-top: 6px;
    }
    .titles.col-md-7 h1 {
        font-size: 17px !important;
    }
}

.note {
    background-color: #eaeaea;
    margin-bottom: 10px;
    margin: 10px;
}

.note h5 {
    font-size: 13px !important;
}

.note h5.state-note {
    color: blue
}

.note .sorting-note {
    color: red;
    line-height: 1.4;
}